<p style="color: green"><%= notice %></p>

<div class="container w-75">
  <h2 class="text-center">
    <%= @recipe.name %>
  </h2>
  <p>
    <strong>Preparation time:
      <%= @recipe.preparation_time %>
    </strong>
  </p>
  <p>
    <strong>Cooking time:
      <%= @recipe.cooking_time %>
    </strong>
  </p>
  <p>
    <strong>Steps go here ... </strong>
  </p>

  <%= link_to "Generate shopping list", general_shopping_lists_index_path %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  <% if can? :manage, @recipe %>
    <%= link_to "Add ingredients", new_food_path %>
  <% end %>
  <hr>

<div class="d-flex flex-column d-flex justify-content-center mx-auto" style="width: 80%;">
  <table class="min-w-full bg-white">
    <thead class="p-3 mb-2 bg-secondary text-white">
      <tr class="ml-1">
        <th class="border border-slate-600">Food</th>
        <th class="border border-slate-600">Measurement Unit</th>
        <th class="border border-slate-600">Unit Price</th>
        <th class="border border-slate-600">Action</th>
      </tr>
    </thead>
    <tbody class="text-gray-700">
      <% @recipe.foods.each do |food|%>
        <tr class="odd:bg-red-300">
          <td class="border border-slate-600 text-center"><%= food.name%></td>
          <td class="border border-slate-600 text-center"><%= food.measurement_unit%></td>
          <td class="border border-slate-600 text-center"><%= food.price%></td>
          <td class="border border-slate-600 text-center">
            <%= link_to "Delete", food_path(food), :class => "hover:text-red-600",
            data: {
                    turbo_method: :delete,
                    turbo_confirm: "Do you want to delete #{food.name}?"
                  }%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>


</div>